<div
  class="bg-transparent min-h-screen w-screen flex justify-center items-center"
>
  <kb-card [header]="header" class="w-11/12 max-w-xl">
    <form
      [formGroup]="signupForm"
      (ngSubmit)="signup()"
      class="flex flex-col gap-8 content-center"
    >
      <kb-input
        placeholder="First Name"
        formControlName="first_name"
        type="text"
        [abstractFormControl]="signupForm.get('first_name')!"
      ></kb-input>
      <kb-input
        placeholder="Last Name"
        formControlName="last_name"
        type="text"
        [abstractFormControl]="signupForm.get('last_name')!"
      ></kb-input>
      <kb-input
        placeholder="Email"
        formControlName="email"
        type="email"
        [abstractFormControl]="signupForm.get('email')!"
      ></kb-input>
      <kb-input
        placeholder="Password"
        formControlName="password"
        type="password"
        [abstractFormControl]="signupForm.get('password')!"
      ></kb-input>
      <kb-button
        [disabled]="signupForm.invalid"
        [label]="'Sign Up'"
        class="self-center"
      ></kb-button>
      <div class="text-center">
        Already have an account?
        <span
          class="hover:underline cursor-pointer hover:text-accent"
          routerLink="/auth/login"
        >
          Log In
        </span>
      </div>
    </form>
  </kb-card>
</div>
