<div class="flex flex-col gap-2">
  <input
    class="text-dark h-12 outline-0 px-3.5 font-medium text-xl rounded-xl"
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    (input)="onChanged($event)"
    (blur)="onTouched($event)"
  />
  <ng-container *ngIf="formControl.touched">
    <div
      *ngIf="type === 'password' && formControl.hasError('pattern')"
      class="text-error"
    >
      Password should contain at least:
      <br />
      * An upper case character
      <br />
      * A lower case character
      <br />
      * A number
    </div>
    <div *ngIf="formControl.hasError('minlength')" class="text-error">
      * Minimum length is 8 characters
    </div>
    <div *ngIf="formControl.hasError('required')" class="text-error">
      * This field is required
    </div>
    <div
      *ngIf="type === 'email' && formControl.hasError('pattern')"
      class="text-error"
    >
      * Enter valid email format
    </div>
  </ng-container>
</div>
