<div
  class="container min-h-screen mx-auto bg-dark flex justify-center items-center"
>
  <mat-card class="w-96">
    <form [formGroup]="formGroup" (ngSubmit)="onSumbit()">
      <mat-card-title class="pb-3">Log In</mat-card-title>
      <mat-card-content>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions [align]="'end'">
        <button
          mat-raised-button
          [color]="'primary'"
          [disabled]="formGroup.invalid"
          routerLink="/dashboard"
        >
          Log In
        </button>
        <button
          mat-stroked-button
          [color]="'primary'"
          routerLink="/auth/signup"
          type="button"
        >
          Sign Up
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
