@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$background-color: #21212cff;

html,
body {
  height: 100%;
  background-color: $background-color;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
