@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$background-color: #2c2c37;

* {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color;
}
